{% extends 'base.html' %}
{% block content %}
<h2>Posts by {{ view.kwargs.username }}</h2>
    {% for blog in blogs %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ blog.author.profile.image.url }}" alt="">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'post-user' blog.author.username %}">{{ blog.author }}</a>
          <small class="text-muted">{{ blog.date_posted }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'post-detail' blog.id %}">{{ blog.title }}</a></h2>
        <p class="article-content">{{ blog.content }}</p>
      </div>
    </article>
    {% endfor %}
{% endblock content %}
